@page
@model IndexModel
@using MessagingLibrary;
@{
    ViewData["Title"] = "Home page";

    var messages = MessagingAPI.GetMessages();
}

<div class="text-center">
    <h1 class="display-4">Messaging Hub</h1>
    <p>@messages</p>
</div>
