@page
@model IndexModel
@using MessagingLibrary;
@using MessagingLibrary.Data
@{
    ViewData["Title"] = "Home page";

    List<MessageData> messages = MessagingAPI.GetMessages();
}

<!-- Stylesheet for the popup -->
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />


<!-- Section for the popup that is added to nav from the shared layout -->
@section Popup {
    <button type="button" id="popupButton">
        <img src="~/images/notification_icon.png" width="25" height="25" />
        <span id="popupBadge">0</span>
    </button>

    <div id="popupBox">
        @foreach (MessageData item in messages)
        {
            <p>
                @item.content &emsp; @item.sentTime &emsp; @item.messageRead
            </p>
        }
    </div>
}

    <!-- Script for opening/closing the popup -->
    <script src="~/js/indexPopup.js" asp-append-version="true"></script>

    <div class="text-center">
        <h1 class="display-4" style="padding-top:30vh">Messaging Hub</h1>
    </div>
