@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Stylesheet for the page -->
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<!-- Section for the popup that is added to nav from the shared layout -->
@section Popup {
    <button type="button" id="popupButton">
        <img src="~/images/notification_icon.png" />
        <span id="popupBadge">0</span>
    </button>

    <div id="popupBox">
        <div class="text-center">
            <h1 class="display-4" style="padding-top:10vh" id="loginNote">Login to a user to see messages</h1>
        </div>
    </div>
}


    <div class="text-center">
        <h1 class="display-4" style="padding-top:30vh" id="loginIntro">Messaging Hub Login</h1>
        <br>
        <br>

        <form id="loginForm">
            <label for="message">User Name:</label>
            <input type="text" id="userName" name="userName">
            <br>
            <br>
            <input type="button" value="Submit" onclick="loginUser()">
        </form>
    </div>


    <!-- Script for loading items, login -->
    <script src="~/js/index.js" asp-append-version="true"></script>

    <!-- Script for opening/closing the popup -->
    <script src="~/js/indexPopup.js" asp-append-version="true"></script>