@page
@model IndexModel
@using MessagingLibrary;
@{
    ViewData["Title"] = "Home page";

    var messages = MessagingAPI.GetMessages();
}

<!-- Stylesheet for the popup -->
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<header>
    <nav>
        <button type="button" class="icon-button" id="button">
            <img src="~/Image/notification_icon.png" width="25" height="25"></img>
            <span class="icon-button__badge">2</span>

        </button>
        <div class="popup">
            <span class="popuptext" id="myPopup"></span>
        </div>
    </nav>
</header>

<!-- Script for opening/closing the popup -->
<script src="~/js/indexPopup.js" asp-append-version="true"></script>

<div class="text-center">
    <h1 class="display-4">Messaging Hub</h1>
    <p>@messages</p>
</div>
