@page
@model IndexModel
@using MessagingLibrary;
@{
    ViewData["Title"] = "Home page";

    var messages = Class1.GetMessage();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@messages</p>
</div>
