@page
@model IndexModel
@using MessagingLibrary;
@using MessagingLibrary.Data
@{
    ViewData["Title"] = "Home page";

    List<MessageData> messages = MessagingAPI.GetMessages();

    int unreadMessagesCount = 0;
    foreach (MessageData item in messages)
    {
        if (!item.messageRead)
            unreadMessagesCount++;
    }
}

<!-- Stylesheet for the page -->
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<!-- Sending mark message read request to library -->
<script type="text/javascript">
    // Set the initial unread messages count
    let messageCount = @unreadMessagesCount;

    document.getElementById("popupBadge").innerHTML = messageCount;

    function markMessageRead(element, id) {
        element.parentElement.style.background = "#e6e6e6";
        element.style.visibility = 'hidden';

        let url = "libApi/libMarkMessageRead?Id=" + id;
        fetch(url, { method: 'POST' });

        messageCount--;
        document.getElementById("popupBadge").innerHTML = messageCount;
    }
</script>


<!-- Section for the popup that is added to nav from the shared layout -->
@section Popup {
    <button type="button" id="popupButton">
        <img src="~/images/notification_icon.png" />
        <span id="popupBadge">0</span>
    </button>

    <div id="popupBox">
        @foreach (MessageData item in messages)
        {
            var bgColor = item.messageRead ? "#e6e6e6" : "white";

            <div id="popupItem" style="background:@bgColor">
                <p>
                    @item.content &emsp;
                </p>
                <p>
                    @item.sentTime.ToShortDateString() &emsp;
                </p>
                @if (!item.messageRead)
                {
                    <img src="~/images/check.png" id="popupReadIcon" onclick="markMessageRead(this, @item.id)" />
                }
            </div>
        }
    </div>
}

    <!-- Script for opening/closing the popup -->
    <script src="~/js/indexPopup.js" asp-append-version="true"></script>

    <div class="text-center">
        <h1 class="display-4" style="padding-top:30vh">Messaging Hub</h1>
    </div>
