@page
@model ServerModel
@{
    ViewData["Title"] = "Server";
}

<script type="text/javascript">
    function sendMessage() {
        var sentTime = new Date().toISOString().slice(0, 19).replace('T', ' ');
        var messageContent = document.getElementById('message').value;
        var messageCategory = document.getElementById('category').value;
        var messageUser = document.getElementById('user').value;

        if (messageContent == null || messageContent == "" || messageCategory == null || messageCategory == "" || messageUser == null || messageUser == "") {
            alert("All fields need to be completed");
            return;
        }

        var url = "libApi/libSendMessage?SentTime=" + sentTime + "&Content=" + messageContent + "&MessageCategory=" + messageCategory + "&MessageUser=" + messageUser;
        fetch(url, { method: 'POST' });

        document.getElementById("serverForm").reset();
        alert("Message submitted");
    }
</script>


<h1>@ViewData["Title"]</h1>

<p>This page is for sending messages to users from server.</p>

<form id="serverForm">
    <label for="message">Message Content:</label>
    <input type="text" id="message" name="message">
    <br>
    <br>
    <label for="user">Message User:</label>
    <input type="text" id="user" name="user">
    <br>
    <br>
    <label for="category">Message Category:</label>
    <input type="text" id="category" name="category" value="Other">
    
    &emsp;
    <button type="button" id="exports" value="Exports">Exports</button>
    <button type="button" id="system" value="SystemEvents">SystemEvents</button>
    <button type="button" id="work" value="WorkTasks">WorkTasks</button>
    <button type="button" id="other" value="Other">Other</button>
    
    <br>
    <br>
    <input type="button" value="Submit" onclick="sendMessage()">
</form>

<script type="text/javascript">  
    function categoryClickListeners() {
        let exp = document.getElementById("exports")
        let sys = document.getElementById("system")
        let wor = document.getElementById("work")
        let oth = document.getElementById("other")
        let category = document.getElementById("category")


        exp.addEventListener("click", function () {
            category.value = exp.value;
        });

        sys.addEventListener("click", function () {
            category.value = sys.value;
        });

        wor.addEventListener("click", function () {
            category.value = wor.value;
        });

        oth.addEventListener("click", function () {
            category.value = oth.value;
        });
    }
    
    categoryClickListeners();
</script>


