@page
@using MessagingLibrary
@model ServerModel
@{
    ViewData["Title"] = "Server";
}

<!-- Stylesheet for the page -->
<link rel="stylesheet" href="~/css/server.css" asp-append-version="true" />

<h1>@ViewData["Title"]</h1>

<p>This page is for sending messages to users from server.</p>

<form id="serverForm">
    <label for="message">Message Content:</label>
    <input type="text" id="message" name="message">
    <br>
    <br>
    <label for="user" id="switchText">Message User:</label>
    <input type="text" id="user" name="user">
    <button type="button" id="switchUser">Switch to Group messaging</button>
    <br>
    <br>
    <label for="category">Message Category:</label>
    <input type="text" id="category" name="category" value="Other">

    &emsp;
    <button type="button" id="exports" value="Exports">Exports</button>
    <button type="button" id="system" value="SystemEvents">SystemEvents</button>
    <button type="button" id="work" value="WorkTasks">WorkTasks</button>
    <button type="button" id="other" value="Other">Other</button>

    <br>
    <br>
    <input type="button" value="Submit" onclick="sendMessage('@MessagingAPI.ApiUrl')">
</form>


<div id="groups-popup">

    <div class="groups-box">

        <div class="head">
            <h1>Groups</h1>
            <div class="btn">
                <button id="groupsButton" onclick="groupAdd()">ADD+</button>
            </div>
        </div>
        <ul id="groups-list">
        </ul>

    </div>

    <div class="members-box">

        <div class="head">
            <h1>Members</h1>
            <div class="btn">
                <button id="membersButton" onclick="memberAdd()">ADD+</button>
            </div>
        </div>
        <ul id="members-list">
        </ul>

    </div>
</div>

<button id="head-btn" type="button">Groups</button>

<!-- Script for server items -->
<script src="~/js/server.js" asp-append-version="true"></script>
