@page
@using MessagingLibrary
@model UserMessagesModel
@{
    ViewData["Title"] = "User Messages";
}

<!-- Stylesheet for the page -->
<link rel="stylesheet" href="~/css/userMessages.css" asp-append-version="true">

<!-- SignalR client library -->
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js" type="text/javascript"></script>

@section FullContainer {
    <div class="popup">

        <button id="close">&times;</button>
        <h2>User to user messaging</h2>

        <label for="pwd">Username</label>
        <input type="text" class="pwd" name="pwd" id="loginName">

        <button id="submitButton" onclick="loginUser('@MessagingAPI.ApiUrl')">Submit</button>
    </div>

    <div class="chatbox">
        <div class="friendlist" "style="display: inline-block; width: 200px">
            <h3>
                Friend list<button class="newmessage" onclick="addfriend()"><img src="~/Images/icon-add.png"></button>
            </h3>

            <ul id="fl">

            </ul>
        </div>

        <div class="chat">
            <div class="name" id="name">
              
            </div>

            <div class="message" id="message">

            </div>

            <div class="sendinput">
                <input type="text" id="text">
                <button class="send" id="send" onclick="send()">
                    <img src=~/Images/send.png>
                </button>
            </div>
        </div>
    </div>

    <!-- Script for user messages -->
    <script src="~/js/userMessages.js" asp-append-version="true"></script>
}
