@page
@model UserMessagesModel
@{
    ViewData["Title"] = "User Messages";
}
<link rel="stylesheet" href="~/css/userMessages.css" asp-append-version="true">

@section FullContainer {
    <div class="popup">

        <button id="close">&times;</button>
        <h2>User to user messaging</h2>

        <label for="pwd">Username</label>
        <input type="text" class="pwd" name="pwd">

        <a href="#" id="submitButton">Submit</a>
    </div>

    <div class="chatbox">
        <div class="friendlist">
            <h3>
                Friend list<button class="newmessage" onclick="addfriend()"><img src="~/Images/icon-add.png"></button>
            </h3>

            <ul id="fl">
                <li id="1">Martin</li>
                <li id="2">Beck</li>
                <li id="3">James</li>
                <li id="4">Robert</li>
                <li id="5">John</li>
                <li id="6">Michael</li>
                <li id="7">David</li>
                <li id="8">William</li>
                <li id="9">Richard</li>
                <li id="10">Joseph</li>
            </ul>
        </div>

        <div class="chat">
            <div class="name" id="name">
                Martin
            </div>

            <div class="message" id="message">
                <div class="msg-row" name="msg-row">
                    <div class="msg-text">
                        <h2>Martin</h2>
                        <p> Hello </p>
                    </div>
                </div>
                <div class="msg-row msg-row2" name="msg-row">
                    <div class="msg-text text2">
                        <h2>Beck</h2>
                        <p> How are you </p>
                    </div>
                </div>
                <div class="msg-row" name="msg-row">
                    <div class="msg-text">
                        <h2>Martin</h2>
                        <p> Hello </p>
                    </div>
                </div>
                <div class="msg-row" name="msg-row">
                    <div class="msg-text">
                        <h2>Martin</h2>
                        <p> Hello </p>
                    </div>
                </div>
                <div class="msg-row" name="msg-row">
                    <div class="msg-text">
                        <h2>Martin</h2>
                        <p> Hello </p>
                    </div>
                </div>
                <div class="msg-row" name="msg-row">
                    <div class="msg-text">
                        <h2>Martin</h2>
                        <p> Hello </p>
                    </div>
                </div>
                <div class="msg-row" name="msg-row">
                    <div class="msg-text">
                        <h2>Martin</h2>
                        <p> Hello </p>
                    </div>
                </div>
                <div class="msg-row" name="msg-row">
                    <div class="msg-text">
                        <h2>Martin</h2>
                        <p> Hello </p>
                    </div>
                </div>
            </div>

            <div class="sendinput">
                <input type="text" id="text">
                <button class="send" onclick="send()">
                    <img src=~/Images/send.png>
                </button>
            </div>
        </div>
    </div>

    <!-- Script for user messages -->
    <script src="~/js/userMessages.js" asp-append-version="true"></script>
}
