@page
@model UserMessagesModel
@{
    ViewData["Title"] = "User Messages";
}
<link rel="stylesheet" href="~/css/userMessages.css" asp-append-version="true">

@section FullContainer {
    <div class="popup">

        <button id="close">&times;</button>
        <h2>User to user messaging</h2>

        <label for="pwd">Username</label>
        <input type="text" class="pwd" name="pwd">

        <a href="#" id="submitButton">Submit</a>
    </div>

    <div class="chatbox">
        <div class="friendlist">
            <h3>
                Friend list<button class="newmessage" onclick="addfriend()"><img src="~/Images/icon-add.png"></button>
            </h3>

            <ul id="fl">

            </ul>
        </div>

        <div class="chat">
            <div class="name" id="name">
              
            </div>

            <div class="message" id="message">

            </div>

            <div class="sendinput">
                <input type="text" id="text">
                <button class="send" onclick="send()">
                    <img src=~/Images/send.png>
                </button>
            </div>
        </div>
    </div>

    <!-- Script for user messages -->
    <script src="~/js/userMessages.js" asp-append-version="true"></script>
}
