#popupButton {
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 50%;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    #popupButton:hover {
        cursor: pointer;
    }

    #popupButton:active {
        background: #cccccc;
    }


#popupBadge {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: red;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popupBox {
    background: #FFFFFF;
    visibility: hidden;
    width: 400px;
    min-height: 200px;
    max-height: 80vh;
    overflow-y: scroll;
    z-index: 100;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    top: 65px;
    right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#popupItem {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#popupReadIcon {
    width: 24px;
    height: 24px;
}