#groups-popup {
    height: 70%;
    background-color: white;
    border: 2px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

    #groups-popup .groups-box {
        width: 50%;
        height: 100%;
        border-right: 2px solid black;
    }

.groups-box .head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid black;
}

.groups-box h1 {
    margin-left: 25px;
}

.groups-box button {
    height: 50px;
    width: 50px;
    outline: none;
    border: none;
    background-color: white;
}

#groups-popup .members-box {
    text-align: center;
    width: 50%;
    height: 100%;
}

.members-box h1 {
    margin-left: 25px;
}

.members-box button {
    height: 50px;
    width: 50px;
    outline: none;
    border: none;
    background-color: white;
}

.members-box .head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid black;
}

#head-btn {
    float: right;
}

#groups-list li {
    text-align: center;
    list-style-type: none;
    border-bottom: 1px solid;
    width: 100%;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

#groups-list {
    margin: 0;
    padding: 0;
    background: white;
    height: 85%;
    overflow-y: auto;
}

    #groups-list li:hover {
        background-color: darkgray;
    }

    #groups-list::-webkit-scrollbar {
        display: none;
    }

#members-list li {
    text-align: center;
    list-style: none;
    border-bottom: 1px solid;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

#members-list {
    margin: 0;
    padding: 0;
    background: white;
    height: 85%;
    overflow-y: auto;
}

    #members-list li:hover {
        background-color: darkgray;
    }

    #members-list::-webkit-scrollbar {
        display: none;
    }

#allthing {
    width: 100%;
    height: 79vh;
}

.blur {
    margin: 0;
    padding: 0;
    /* background: #E2E2E2;*/
}

@media only screen and (max-width: 800px) {
    #groups-popup {
        width: 95%;
    }
}
