* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100%;
}


.chatbox {
    width: 100%;
    display: flex;
}

.friendlist {
    width: 20%;
    height: 100%;
}

    .friendlist h3 {
        line-height: 70px;
        text-align: center;
        height: 70px;
        font-weight: 400;
        cursor: pointer;
        background: #ededed;
    }

.chat {
    width: 80%;
    height: 100%;
    background-color: white;
}

.friendlist ul li {
    margin-top: 0px;
    text-align: center;
    list-style: none;
    border-bottom: 1px solid;
    height: 70px;
    line-height: 70px;
}

.friendlist ul {
    background: white;
    height: 65vh;
    overflow-y: auto;
}

    .friendlist ul::-webkit-scrollbar {
        display: none;
    }

    .friendlist ul li:hover {
        background-color: darkgray;
    }

.newmessage {
    position: relative;
    width: 30px;
    height: 30px;
    left: 30px;
    outline: none;
    border: none;
    background: #ededed;
}

    .newmessage img {
        height: 30px;
        width: 30px;
    }

.msg-row {
    display: flex;
    align-items: center;
    margin: 40px;
}

.msg-text {
    background-color: darkgray;
    padding: 20px 40px;
    border-radius: 10px;
    flex-basis: 70%;
    font-weight: 300;
    color: white;
}

.text2 {
    background-color: #3dc8ff;
}

.msg-text h2 {
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
}

.msg-row2 {
    justify-content: flex-end;
}

.name {
    width: 100%;
    height: 70px;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    background-color: #ededed;
}

.message {
    width: 100%;
    height: 60vh;
    overflow-y: auto;
}

    .message::-webkit-scrollbar {
        display: none;
    }

.sendinput {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

    .sendinput input {
        width: 100%;
        outline: none;
        border: none;
        background: #fff;
        padding: 18px;
        height: 30px;
        border-radius: 50px;
        font-size: 20px;
        padding-left: 20px;
    }

    .sendinput button {
        position: relative;
        font-size: 1.2em;
        outline: none;
        border: none;
        background-color: #f6f6f6;
        top: 2px;
        left: 5px;
    }
