* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.chatbox {
    width: 100%;
    height: 60vh;
    display: flex;
}

.friendlist {
    width: 20%;
    height: 100%;
}

#friendAdd {
    height: 70px;
    cursor: pointer;
    background: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
}

    #friendAdd h5 {
        flex: 1;
        margin-left: 24px;
    }

    #friendAdd button {
        flex: 1;
    }


.chat {
    width: 80%;
    height: 100%;
    background-color: white;
}

.friendlist ul li {
    margin-top: 0px;
    text-align: center;
    list-style: none;
    border-bottom: 1px solid;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.friendlist ul {
    background: white;
    overflow-y: auto;
    height: 100%;
}

    .friendlist ul::-webkit-scrollbar {
        display: none;
    }

    .friendlist ul li:hover {
        background-color: darkgray;
    }

.newmessage {
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background: #ededed;
}

    .newmessage img {
        height: 30px;
        width: 30px;
    }

.msg-row {
    display: flex;
    align-items: center;
    margin: 40px;
}

.msg-text {
    background-color: darkgray;
    padding: 20px 40px;
    border-radius: 10px;
    flex-basis: 70%;
    font-weight: 300;
    color: white;
}

.text2 {
    background-color: #3dc8ff;
}

.msg-text h2 {
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
}

.msg-row2 {
    justify-content: flex-end;
}

.name {
    width: 100%;
    height: 70px;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    background-color: #ededed;
}

.message {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

    .message::-webkit-scrollbar {
        display: none;
    }

.sendinput {
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

    .sendinput input {
        width: 100%;
        outline: none;
        border: none;
        background: #fff;
        padding: 18px;
        height: 30px;
        border-radius: 50px;
        font-size: 20px;
        padding-left: 20px;
    }

    .sendinput button {
        position: relative;
        font-size: 1.2em;
        outline: none;
        border: none;
        background-color: #f6f6f6;
        top: 2px;
        left: 5px;
    }

body {
    margin-bottom: 0;
}

.popup {
    background-color: #E6E6E6;
    padding: 30px 50px;
    padding-left: max(50px, 5%);
    padding-right: max(50px, 5%);
    position: absolute;
    transform: translate(-50%,-50%);
    margin: 30px auto;
    max-width: 640px;
    left: 50%;
    top: 45%;
    border-radius: 8px;
    display: none;
    text-align: center;
}

    .popup button {
        display: block;
        margin: 0 0 20px auto;
        background-color: black;
        font-size: 30px;
        color: #ffffff;
        background: #03549a;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .popup h2 {
        margin-top: 100px;
    }

.pwd {
    font-size: 15px;
    text-align: justify;
    margin: 50px 0;
    line-height: 25px;
}

#submitButton {
    font: inherit;
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 0;
}
